<h4 id="notice"><%= notice %></h4>
<% if user_signed_in? %>
ログインしています

<h4>メールアドレス： <%= current_user.email %></h4>
<%= link_to "ログアウト",destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "トップへ",root_path,class:"btn btn-primary" %>
<% end %>