<h1>Editing Todo</h1>

<div class="form-group">
    <%= render 'form', todo: @todo,class:"form-control" %>

    <%= link_to 'Show', @todo, class: "btn btn-default" %> |
    <%= link_to 'Back', todos_path, class: "btn btn-info" %>
</div>